<!-- author Michael Walsh mpw9@bu.edu -->
<!-- HTML page for adding albums on PhotoShare -->
<head>
    <title>Create an album!</title>
</head>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter the name of your new album below!</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('add_album') }}">
                <label for="album_name">Enter the name of your new album:</label>
                <input type="text" name="album_name" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<ul>
    <li>
        <a href='/albums'>Back to my albums</a>
    </li>
    <li>
        <a href='/'>Home</a>
    </li>
</ul>



