<!-- author Michael Walsh mpw9@bu.edu -->
<!-- HTML page for adding friends on PhotoShare -->
<head>
    <title>Add a friend!</title>
</head>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter your friend's information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('add_friend') }}">
                <label for="email">Enter your friend's email:</label>
                <input type="email" name="friend_email" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<a href='/'>Home</a>
