<!-- author Michael Walsh (mpw9@bu.edu) -->
<!-- HTML of public tag search for PhotoShare -->
<!doctype html>
<style>
    body {
        background-color: rgb(60, 60, 60);
    }
    h1, h2, h3, h4, li, b, p, label {
        color: antiquewhite;
    }
    a {
        color: orange;
    }
    input[type=button], input[type=submit] {
        background-color: orange;
        color: antiquewhite;
        border: antiquewhite;
        padding: 10px 10px;
        text-shadow: 0 0 2px rgb(60, 60, 60);
    }
    img {
      border : 4px solid antiquewhite;
      max-width: 20%;
      max-height: 20%;
    }
</style>
<title>Search Tag</title>
<li><a href='/'>Home</a></li>
<div>
    <h1>Search Tags</h1>
</div>
<div>
    <form method="post" action="{{ url_for('alltag_search') }}">
        <label for="tag">Search photos with the tag: </label>
        <input type="text" name="tag">
        <input type="submit">
    </form>
</div>
<h3>Here is a list of possible tags to search: </h2>
{% if taglist %}
    {% for tag in taglist %}
        <li>{{tag}}</li>
    {% endfor %}
{% endif %}
