<!-- author ben lawson (balawson@bu.edu) -->
<!-- HTML of home page for PhotoShare -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>You shoud <a href='/login'>log in!</a></h1>
{% endif %}

<ul>
  <li><a href='/allalbums'>Browse All Albums</a></li>
{% if name %}
  <li><a href='/albums'>My Albums</a> </li>
  <li><a href='/friends'>My Friends</a></li>
  <li><a href='/logout'>Logout</a></li>
{% endif %}
</ul>
