<!-- author Michael Walsh (mpw9@bu.edu) -->
<!-- HTML of comments search for PhotoShare -->
<!doctype html>
<style>
    body {
        background-color: rgb(60, 60, 60);
    }
    h1, h2, h3, h4, li, b, p, label {
        color: antiquewhite;
    }
    a {
        color: orange;
    }
    input[type=button], input[type=submit] {
        background-color: orange;
        color: antiquewhite;
        border: antiquewhite;
        padding: 10px 10px;
        text-shadow: 0 0 2px rgb(60, 60, 60);
    }
    img {
      border : 4px solid antiquewhite;
      max-width: 20%;
      max-height: 20%;
    }
</style>
<title>Comment Search</title>
<li><a href='/'>Home</a></li>
<div>
    <h1>Search for Users by Comments</h1>
</div>
<div>
    <form method="post" action="{{ url_for('search_comments') }}">
        <label for="search_comments">Search for users who have commented: </label>
        <input type="text" name="search_comments">
        <input type="submit">
    </form>
</div>

