<!-- author Michael Walsh (mpw9@bu.edu) -->
<!-- HTML of top tags list for PhotoShare -->
<!doctype html>
<style>
    body {
        background-color: rgb(60, 60, 60);
    }
    h1, h2, h3, h4, li, b, p {
        color: antiquewhite;
    }
    a {
        color: orange;
    }
    input[type=button], input[type=submit] {
        background-color: orange;
        color: antiquewhite;
        border: antiquewhite;
        padding: 10px 10px;
        text-shadow: 0 0 2px rgb(60, 60, 60);
    }
    img {
      border : 4px solid antiquewhite;
      max-width: 20%;
      max-height: 20%;
    }
</style>
<li><a href='/'>Home</a></li>
<title>Hottest Tags</title>
<h1>Here are the top tags on PhotoShare:</h1>
{% if taglist %}
    {% for tag in taglist %}
        <li>{{tag[1]}} is associated with {{tag[0]}} photos</li>
    {% endfor %}
{% endif %}
