<!-- author ben lawson (balawson@bu.edu) -->
<!-- HTML page for uploading photos to PhotoShare -->
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="asalbum">In my album:</label>
                <input type="text" name="asalbum" required='true' /><br />
                <label for="tags">With Tags:</label>
                <input type="text" name="tags"/><br />
                <input type="submit" value="Upload" />
            </form>
    </body>

    <a href='/'>Home</a>
