<!-- author ben lawson (balawson@bu.edu) -->
<!-- HTML page for uploading photos to PhotoShare -->
<style>
    form  { display: table;      }
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; }
</style>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
            <li><a href='/'>Home</a></li>
            <br>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <p>
                    <label for="photo">Photo:</label>
                    <input type="file" name="photo" required='true' /><br />
                </p>
                <p>
                    <label for="caption">Caption:</label>
                    <input type="text" name="caption" required='true' /><br />
                </p>
                <p>
                    <label for="asalbum">Album:</label>
                    <input type="text" name="asalbum" required='true' /><br />
                </p>
                <p>
                    <label for="tags">Tags:</label>
                    <input type="text" name="tags"/><br />
                </p>
                <br>
                <p>
                    <label for="submit"></label>
                    <input type="submit" name="submit" value="Upload" />
                </p>
            </form>
    </body>

